#dark {
  background: linear-gradient(
    248.6deg,
    rgb(254, 99, 132) 0%,
    rgb(49, 52, 56) 99.8%
  );
}

#light {
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}

.App-header {
  margin: 0 auto;
  max-width: 1200px;
  display: block;
  padding: 2%;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@media (max-width: 760px) {
  .App-header {
    padding: 1%;
  }

  .App {
    padding: 6%;
  }
}
