body {
  background: radial-gradient(
    329px at 3.1% 9.3%,
    rgb(251, 204, 235) 28.1%,
    rgba(221, 221, 221, 0.15) 100.7%
  );
}

.App-header {
  margin: 50px auto;
  max-width: 1000px;
  display: block;
  padding: 2%;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}
