#dark {
  background: linear-gradient(
    180.2deg,
    rgb(120, 85, 137) -6.9%,
    rgb(35, 9, 31) 76.7%
  );
}

#light {
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}

.App-header {
  margin: 0 auto;
  max-width: 1200px;
  display: block;
  padding: 2%;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@media (max-width: 760px) {
  .App-header {
    padding: 1%;
  }

  .App {
    padding: 6%;
  }
}
