.Dictionary {
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.704),
      rgba(255, 249, 249, 0.976)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/075/611/original/pexels-pixabay-278881.jpg?1680837222");

  box-shadow: 5px 8px 11px grey;
}

.WordsContainer {
  padding: 3%;
}
.Loader {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.SwitcherMode {
  margin: 10px;
  font-weight: 600;
}

.Modetheme {
  position: relative;
  bottom: 6px;
}

nav {
  color: rgb(100, 100, 100);
}

#dark nav {
  color: white;
}
footer {
  background-color: aliceblue;
  padding: 1%;
  text-align: center;
  font-weight: 600;
}

footer a {
  color: palevioletred;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

footer a:hover {
  color: rgb(211, 16, 81);
  transition: all 200ms ease-in-out;
}

/*Darkmode*/

#dark .Dictionary {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.704),
      rgba(45, 45, 45, 0.976)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/075/611/original/pexels-pixabay-278881.jpg?1680837222");

  box-shadow: 5px 8px 11px rgb(19, 19, 19);
}

#dark footer {
  background-color: rgb(37, 46, 53);
  padding: 1%;
  text-align: center;
  font-weight: 600;
  color: white;
}

#dark footer a {
  color: rgb(255, 35, 255);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#dark footer a:hover {
  color: rgb(211, 16, 81);
  transition: all 200ms ease-in-out;
}

@media (max-width: 760px) {
  .WordsContainer {
    padding: 1%;
  }
}
