.Pictures-container {
  padding: 8px 10px;
  border-radius: 10px;
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}
.Pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 20px;
  padding: 2%;
  background-color: white;
  border-radius: 10px;
}

.Pictures img {
  width: 500px;
  box-shadow: 3px 5px 10px grey;
}

#dark .Pictures {
  background: #37332f;
}

#dark .Pictures img {
  box-shadow: 3px 5px 10px rgb(46, 46, 46);
}

#dark .Pictures-container {
  background: linear-gradient(
    248.6deg,
    rgb(254, 99, 132) 0%,
    rgb(49, 52, 56) 99.8%
  );
}
@media (max-width: 760px) {
  .Pictures {
    display: none;
  }
}
