.SecondExample {
  padding: 2%;
  background-color: #ffffff;
  border-radius: 10px;
}
.SecondExample a {
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
  color: rgb(132, 132, 1);
  font-weight: 600;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.SecondExample a:hover {
  transition: all 200ms ease-in;
  text-decoration: underline;
  color: red;
}

#dark .SecondExample a {
  color: rgb(255, 0, 255);
}

#dark .SecondExample a:hover {
  color: rgb(0, 145, 255);
}

#dark .SecondExample {
  background-color: rgb(43, 43, 43);
}
